<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.itbank.pet.member.MemberDTO" alias="memDTO"></typeAlias>
		<typeAlias type="com.itbank.pet.product.ProductDTO" alias="productDTO"></typeAlias>
		<typeAlias type="com.itbank.pet.diary.DiaryDTO" alias="diaryDTO"></typeAlias>
		<typeAlias type="com.itbank.pet.bbs.BBSDTO" alias="bbsDTO"></typeAlias>
		<typeAlias type="com.itbank.pet.interest.InterestDTO" alias="interestDTO"></typeAlias>
		<typeAlias type="com.itbank.pet.bbsComment.BBSCommentDTO" alias="bbsCommentDTO"></typeAlias>
		<!-- <typeAlias type="com.itbank.pet.column.NumDTO" alias="numDTO"></typeAlias>
		<typeAlias type="com.itbank.pet.video.VideoDTO" alias="videoDTO"></typeAlias>
		<typeAlias type="com.itbank.pet.column.ColumnDTO" alias="columnDTO"></typeAlias> -->
	</typeAliases>

	<mappers>
		<mapper resource="mappings/BbsCommentMapper.xml"/>
		<mapper resource="mappings/BbsMapper.xml" />
		<mapper resource="mappings/DiaryMapper.xml" />
		<mapper resource="mappings/MemberMapper.xml" />
		<mapper resource="mappings/ProductMapper.xml" />
		<mapper resource="mappings/InterestMapper.xml" />
	<!-- 	<mapper resource="mappings/VideoMapper.xml" />
	 	<mapper resource="mappings/ColumnMapper.xml" /> -->
	</mappers>
</configuration>
