<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.itbank.mvc3.MemberDTO" alias="memDTO"></typeAlias>
		<typeAlias type="com.itbank.mvc3.ProductDTO" alias="productDTO"></typeAlias>
	</typeAliases>

	<mappers>
		<mapper resource="mappings/MemberMapper.xml" />
		<mapper resource="mappings/ProductMapper.xml" />
	</mappers>
</configuration>
